@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";

@layer base {
    html {
        font-family: 'Sora', sans-serif;
        letter-spacing: -0.015em;
        font-weight: 400;
        line-height: 1.5;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        word-break: break-word;
        -webkit-font-smoothing: antialiased;

    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: white;
            color: black;
        }
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
        -webkit-font-smoothing: antialiased;
        word-break: break-word;
        word-wrap: break-word;
    }

    .header-background {
        background-image: url('../assets/img/header-bg.jpg');
        background-size: cover;
        background-position: center;
    }
}

@layer components {
    .container {
        margin: auto;
        max-width: 1140px !important;
    }



    h2,
    h3,
    h5,
    h6 {
        font-weight: 700;
    }

}